@import 'z/css/vars';

// - Left bar
.leftbar {
  background-color: $white;
  border-right: 1px solid $grey-lighter;
  width: 228px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 42;
  overflow-y: auto;
}

.leftbarBrand {
  border-bottom: 1px solid $grey-lighter;
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0px 12px;
}

.leftbarLogo {
  display: block;
  height: 32px;
  margin-right: 12px;
}

.leftbarGroup {
  margin-top: 20px;
  margin-bottom: 20px;

  &:first-child {
    margin-top: 40px;
  }

  [class*='title'] {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 10px !important;
  }

  a {
    color: $grey-dark;
    display: block;
    padding: 5px 16px;
  }
}

.leftbarLinkActive {
  background-color: $grey-lightest;
}

// - Header
.header {
  border-bottom: 1px solid $grey-lighter;
  display: flex;
  height: 44px;
}

.headerMenu {
  border-right: 1px solid $grey-lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  cursor: pointer;
}

.headerBrand {
  flex-grow: 1;

  a {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0px 12px;
  }
}

// - Dimmer
.dimmer {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 41;
}
