@import 'z/css/vars';

.main {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
  }
}

.item {
  @include tablet {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.itemContent {
  @include tablet {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
  }
}

.title {
  border-bottom: 1px solid $grey-lighter;
  height: 68px;
  padding: 12px 16px;
}

.content {
  padding: 40px 32px;
}
