@import 'z/css/vars';

.header {
  border-bottom: 1px solid $grey-lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px;
  padding: 0px 16px;
  position: relative;
  z-index: 11;
}

.headerDark {
  border-color: $grey;

  [class*='title'] {
    color: $white-bis;
  }

  [class*='subtitle'] {
    color: $grey-lighter;
  }
}

.content {
  padding: 20px 16px;
}

@include tablet {
  .content {
    padding: 32px 24px;
  }
}
