@import "../../Css/Vars";

.main__section-inputs {
    background-color: $white-ter;
    border-right: 1px solid $grey-lighter;
    flex-grow: 1;
}

.inputs .field:not(:last-child) {
    margin-bottom: 1.5rem;
}

.inputs .title.has-margin-top {
    margin-top: 3rem;
}

.inputs .field.has-addons .control__range {
    padding-top: 6px;
    padding-right: 16px;
}