@import '../../css/vars';

.dashboard {
    background-color: $white-ter;
    min-height: 100vh;
}

.inputs {
    background-color: $white-ter;
    border-right: 1px solid $grey-lighter;
    flex-grow: 1;
}