@import 'z/css/vars';

.inputs {
  background-color: $white-ter;
  border-right: 1px solid $grey-lighter;
  flex-grow: 1;
  position: relative;
  z-index: 10;

  > [class*='header'] {
    background-color: $white-ter;
  }
}

.preview {
  background-color: $grey-lightest;
  border-bottom: 1px solid $grey-lighter;
  position: relative;
  z-index: 10;

  > [class*='header'] {
    background-color: $grey-lightest;
  }
}

.code {
  background-color: $grey-dark;
  flex-grow: 1;
  position: relative;
  z-index: 10;

  > [class*='header'] {
    background-color: $grey-dark;
  }
}
