@import "../../Css/Vars";

.main__section--preview {
    background-color: $grey-lightest;
    border-bottom: 1px solid $grey-lighter;
}

.preview__box {
    background-color: $white;
    padding-bottom: 56.25%;
}