@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

@import "~bulma/sass/utilities/initial-variables";

// Font
$family-sans-serif: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$weight-light: 400;
$weight-medium: 500;
$weight-semibold: 500;
$weight-bold: 500;

// Breakpoint
$fullhd: 1536px + (2 * $gap); // Calculated to 1600px

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

// Box
$box-shadow: 0 2px 2px rgba($black, 0.025), 0 0 6px rgba($black, 0.025);

// Breadcrumb
$breadcrumb-item-color: $grey;
$breadcrumb-item-separator-color: $grey;

// Dropdown
$dropdown-content-shadow: 0 2px 4px rgba($black, 0.1), 0 0 18px 6px rgba($black, 0.1);

@import "~bulma/sass/utilities/animations.sass";
@import "~bulma/sass/utilities/mixins.sass";
@import "~bulma/sass/utilities/controls.sass";

// Extented
// Font
$heading-font-family: "Avenir", sans-serif;
$heading-font-weight: 500;

// Mixin
@mixin within($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content
    }
}