@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'),
    url('../fonts/source-sans-pro-v18-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/source-sans-pro-v18-latin-600.woff2') format('woff2'),
    url('../fonts/source-sans-pro-v18-latin-600.woff') format('woff');
}
