@import '~bulma/sass/utilities/initial-variables';

// Font
$family-sans-serif: 'Source Sans Pro', sans-serif;
$weight-light: 400;
$weight-medium: 600;
$weight-semibold: 600;
$weight-bold: 600;

// Breakpoint
$tablet: 960px;
$fullhd: 1536px + (2 * $gap); // Calculated to 1600px

@import '~bulma/sass/utilities/functions';
@import '~bulma/sass/utilities/derived-variables';

// Pre
$pre: $white-bis;
$pre-background: $black-ter;

@import '~bulma/sass/utilities/mixins.sass';
@import '~bulma/sass/utilities/controls.sass';

// Generic
$body-size: 15px;
$body-overflow-y: auto;

// Mixin
@mixin within($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
    @content;
  }
}
