@import "../../Css/Vars";

.main__section-inputs {
    background-color: $white-ter;
    border-right: 1px solid $grey-lighter;
    flex-grow: 1;
}

.inputs .field:not(:last-child) {
    margin-bottom: 1.5rem;
}

.inputs .title.has-margin-top {
    margin-top: 3rem;
}

.inputs .field.has-addons .control__range {
    padding-top: 6px;
    padding-right: 16px;
}

.gradient__control {
    position: relative;
    margin-top: 44px;
    margin-bottom: 4px;
    padding: 12px 0px;
}

.gradient__bg {
    background-color: $grey-lighter;
    height: 12px;
    border-radius: 6px;
}

.gradient__handles-area {
    position: absolute;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 12px;
}

.gradient__handle {
    border: 4px solid $grey-darker;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    cursor: move;

    .icon {
        border-radius: 4px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -30px);
    }

    &:not(.selected) .icon {
        display: none;
    }

    &.selected {
        z-index: 2;
    }
}